* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #548687;
  text-align: center;
}

h1 {
    color:white;
  align-items: center;
  font-weight: 300;
  margin-left: 10px;
  margin-top: 15px;
}

h2 {
    color:yellow;
  align-items: center;
  font-weight: 300;
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.container {
  height: 70vh;
  display: flex;

  justify-content: center;
  align-items: center;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #b0413e;
  background-color: #ffffc7;
}

#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}

#msg {
  color: #ffffc7;
  font-size: 5vmin;
}

.msg-container {
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.hide {
  display: none;
}

/* refresh button */
.btn-refresh {
  margin-top: 20px;
  width: 100%;
  font-size: 16px;
  background-color: transparent;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-refresh:hover {
  background-color: #f1f1f1;
}